.homepage {
  text-align: left;
  background-image: linear-gradient(to right, #a6e3a1, #89b4fa);
  padding: 1%;
  color: #cdd6f4;
  font-size: 1.5rem;
}

/*.contentContainer {*/
/*  padding: 20px;*/
/*  border-color: #f38ba8;*/
/*  border-style: solid;*/
/*  border-width: 5px;*/
/*  border-radius: 40px;*/
/*background-color: #11111b;*/
/*}*/

.siteTitle {
  text-align: center;
  font-size: 5rem;
  font-style: jetbrains-mono;
  color: #11111b;
}
